<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
    </head>
    <body>
        <h2>Login</h2>
        <a th:href="@{/}">to main</a>

        <div th:if="${param.error}" style="color: red;">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}" style="color: green;">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" autofocus="autofocus" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" />
            </div>
            <div>
                <button type="submit">Log in</button>
            </div>
        </form>

        <form th:action="@{/signup}" method="get">
            <button type="submit">Sign up</button>
        </form>
        <ul>
            <li th:each="client : ${clients}">
                <a th:href="@{'/oauth2/authorization/' + ${client.registrationId}}">
                    로그인 with <span th:text="${client.clientName}"></span>
                </a>
            </li>
        </ul>
    </body>
</html>