<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Signup</title>
    </head>
    <body>
        <h2>Signup</h2>
        <a th:href="@{/}">to main</a>
        <a th:href="@{/login}">to login</a>

        <div th:if="${error} == 'dup'" style="color: red;">
            중복된 id 존재
        </div>
        <div th:if="${error} == 'pw'" style="color: red;">
            비밀번호 불일치
        </div>

        <form th:action="@{/signup}" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" autofocus="autofocus" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" />
            </div>
            <div>
                <label for="password-re">Re-input Password:</label>
                <input type="password" id="password-re" name="passwordRe" />
            </div>
            <div>
                <button type="submit">Sign up</button>
            </div>
        </form>
    </body>
</html>